<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../templates/template_default.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        Céer un compte bancaire
    </ui:define>

    <ui:define name="content">
        <f:view>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Avant de créer un compte bancaire, vous devez créer un client puis le sélectionner ci-dessous.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h:form class="container-fluid mb-3">
                <div class="form-row">
                    <div class="col">
                        <h:outputLabel value="Sélectionner un client :" for="client" />
                        <h:selectOneMenu
                            class="form-control"
                            id="client"
                            value = "#{compteBancaireMBean.clientId}">
                            <f:selectItems
                                value="#{personneMBean.allClients}" 
                                var="client"
                                itemLabel="#{client.nom} #{client.prenom}" 
                                itemValue="#{client.id}" />
                        </h:selectOneMenu>
                    </div>
                    <div class="col">
                        <h:outputLabel value="Type de compte :" for="type" />
                        <h:selectOneMenu
                            class="form-control"
                            id="type"
                            value = "#{compteBancaireMBean.type}">
                            <f:selectItems
                                value="#{compteBancaireMBean.types}" 
                                var="type"
                                itemLabel="#{type}" 
                                itemValue="#{type}" />
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-6">
                        <h:outputLabel value="Dépôt initial à l'ouverture de compte :" for="montant" />
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">€</span>
                            </div>
                            <h:inputText 
                                id="montant"
                                class="form-control"
                                value="#{compteBancaireMBean.montant}"/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#creer-compte-bancaire">
                    Créer le compte
                </button>
                <div class="modal fade" id="creer-compte-bancaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Opération de dépôt</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="h3">Voulez-vous vraiment créer un compte ${compteBancaireMBean.type} pour #{compteBancaireMBean.client.nom} #{compteBancaireMBean.client.prenom} </p>
                            </div>
                            <div class="modal-footer">
                                <button 
                                    type="button" 
                                    class="btn btn-secondary" 
                                    data-dismiss="modal">
                                    Non
                                </button>
                                <h:commandButton
                                    class="btn btn-primary" 
                                    value="Oui" 
                                    action="#{compteBancaireMBean.actionStringCreer('/faces/index')}"></h:commandButton>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                Le client aura par défaut comme conseiller celui qui lui crée son compte bancaire.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </f:view>
    </ui:define>
</ui:composition>
