<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../templates/template_default.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="top">
        Détails du compte
    </ui:define>

    <ui:define name="content">
        <p>Nom: <h:outputText value="#{compteBancaireMBean.nom}"/></p>
        <p>Solde: <h:outputText value="#{compteBancaireMBean.solde} €"/></p>
    </ui:define>

</ui:composition>
