<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="./../templates/template_default.xhtml">

    <ui:define name="top">
        liste des comptes bancaires
    </ui:define>

    <ui:define name="content">
        <f:view>
            <p:dataTable value="#{compteBancaireMBean.allComptes}" var="item">
                <p:column headerText="Nom">
                    <h:outputText value="#{item.nom}"/>
                </p:column>
                <p:column headerText="Solde">
                    <h:outputText value="#{item.solde} €"/>
                </p:column>
                <p:column headerText="Actions">
                    <h:form>
                        <div class="form-row">
                            <div class="col-auto">
                                <h:commandButton 
                                    class="btn btn-primary btn-sm" 
                                    value="Consulter" 
                                    action="#{compteBancaireMBean.actionStringConsulter(item.compteBancaireId, '/faces/comptebancaire/details')}" />
                            </div>
                            <div class="col-auto">
                                <h:commandButton 
                                    class="btn btn-secondary btn-sm" 
                                    value="Faire un dépot" 
                                    action="/faces/operation/depot"/>
                            </div>
                            <div class="col-auto">
                                <h:commandButton 
                                    class="btn btn-secondary btn-sm" 
                                    value="Faire un retrait" 
                                    action="/faces/operation/retrait"/>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#supprimer-compte-bancaire">
                                    Supprimer
                                </button>
                                <div class="modal fade" id="supprimer-compte-bancaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Voulez-vous vraiment supprimer ce compte
                                            </div>
                                            <div class="modal-footer">
                                                <button 
                                                    type="button" 
                                                    class="btn btn-secondary btn-sm" 
                                                    data-dismiss="modal">
                                                    Non
                                                </button>
                                                <h:commandButton 
                                                    class="btn btn-danger btn-sm" 
                                                    value="Oui" 
                                                    action="#{compteBancaireMBean.actionStringSupprimer(item.compteBancaireId, '/faces/comptebancaire/liste')}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </p:column>
            </p:dataTable>
        </f:view>
    </ui:define>
</ui:composition>
