<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="./../templates/template_default.xhtml">

    <ui:define name="top">
       Comptes bancaires
    </ui:define>

    <ui:define name="content">
        <ui:repeat value="#{compteBancaireMBean.allComptes}" var="item">
            <div class="d-flex flex-column border rounded mb-3 bg-light container-fluid">
                <main class="row p-2">
                    <div class="col">
                        <p class="mb-0 font-weight-bold"><h:outputText value="#{item.nom}"/></p>
                        <ui:repeat value="#{item.clients}" var="client">
                            <p class="mb-0 text-capitalize"><h:outputText value="#{client.nom} #{client.prenom}"/></p>
                        </ui:repeat>
                    </div>
                    <div class="col text-right text-monospace h2">
                        <h:outputText value="#{item.solde} €"/>
                    </div>
                </main>
                <footer class="border-top p-2 row">
                    <h:form class="nav">
                        <div class="nav-item">
                            <h:commandButton 
                                class="nav-link text-primary border-0 bg-light" 
                                value="Historique des opérations" 
                                action="#{compteBancaireMBean.actionStringConsulter(item.compteBancaireId, '/faces/operation/historique')}" />
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-danger" data-toggle="modal" data-target="#supprimer-compte-bancaire-#{item.compteBancaireId}" href="#">
                                Supprimer
                            </a>
                            <div class="modal fade" id="supprimer-compte-bancaire-#{item.compteBancaireId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous vraiment supprimer ce compte
                                        </div>
                                        <div class="modal-footer">
                                            <button 
                                                type="button" 
                                                class="btn btn-secondary btn-sm" 
                                                data-dismiss="modal">
                                                Non
                                            </button>
                                            <h:commandButton 
                                                class="btn btn-danger btn-sm" 
                                                value="Oui" 
                                                action="#{compteBancaireMBean.actionStringSupprimer(item.compteBancaireId, '/faces/comptebancaire/liste')}" />
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </h:form>
                </footer>
            </div>
        </ui:repeat>
    </ui:define>
</ui:composition>
