<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="./../templates/template_default.xhtml">

    <ui:define name="top">
        Créer un cllient
    </ui:define>

    <ui:define name="content">
        <f:view>
            <h:form class="container-fluid">                 
                <div class="row">
                    <div class="col">
                    <h:outputLabel value="Nom" for="nom" />
                    <h:inputText class="form-control" id="nom" value="#{personneMBean.nom}" title="Nom" />
                    </div>
                    <div class="col">
                    <h:outputLabel value="Prénom" for="prenom" />
                    <h:inputText class="form-control" id="prenom" value="#{personneMBean.prenom}" title="Prénom" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <h:outputLabel value="Adresse" for="adresse" />
                    <h:inputText class="form-control" id="adresse" value="#{personneMBean.adresse}" title="Adresse" />
                    </div>
                </div>
                <h:commandButton id="update" class="mt-3 btn btn-primary" value="Créer" action="#{personneMBean.actionStringCeerClient('/faces/index')}"/>
            </h:form>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                Un identifiant et un mot de passe seront généré automatiquement après la création du compte 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </f:view>
    </ui:define>
</ui:composition>
