<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="./../templates/template_default.xhtml">

    <ui:define name="top">
       Conseillers
    </ui:define>

    <ui:define name="content">
        <ui:repeat value="#{personneMBean.allConseillers}" var="conseiller">
            <div class="d-flex flex-column border rounded mb-3 bg-light container-fluid">
                <main class="row p-2">
                    <div class="col">
                        <p class="mb-0 font-weight-bold text-capitalize"><h:outputText value="#{conseiller.nom} #{conseiller.prenom}"/></p>
                        <p class="mb-0"><h:outputText value="#{conseiller.adresse}"/></p>
                    </div>
                </main>
                <footer class="row border-top p-2">
                    <h:form class="nav">
                        <div class="nav-item">
                            <a class="nav-link" href="#">Modifier</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-danger" data-toggle="modal" data-target="#supprimer-conseiller-#{conseiller.id}" href="#">
                                Supprimer
                            </a>
                            <div class="modal fade" id="supprimer-conseiller-#{conseiller.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous vraiment supprimer le conseiller #{conseiller.nom} #{conseiller.prenom}
                                        </div>
                                        <div class="modal-footer">
                                            <button 
                                                type="button" 
                                                class="btn btn-secondary btn-sm" 
                                                data-dismiss="modal">
                                                Non
                                            </button>
                                            <h:commandButton 
                                                class="btn btn-danger btn-sm" 
                                                value="Oui" 
                                                action="#{personneMBean.actionStringSupprimerConseiller(conseiller.id, '/faces/personne/conseillers')}" />
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </h:form>
                </footer>
            </div>
        </ui:repeat>
    </ui:define>
</ui:composition>
