<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../templates/template_default.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        Historique des opérations
    </ui:define>

    <ui:define name="content">
        <f:view>
            <h:form>
                <p:dataTable 
                    id="tab"
                    value="#{compteBancaireMBean.allOperations}" 
                    var="item"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                    paginator="true"
                    rows="10">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Compte"/>
                        </f:facet>
                        <h:outputText value="#{item.compte}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Date"/>
                        </f:facet>
                        <h:outputText value="#{item.date}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Montant"/>
                        </f:facet>
                        <h:outputText value="#{item.montant}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Type"/>
                        </f:facet>
                        <h:outputText value="#{item.type}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="N° de transaction"/>
                        </f:facet>
                        <h:outputText value="#{item.id}"/>
                    </p:column>
                </p:dataTable>
                <div class="mt-3">
                    <h:commandLink>
                        <p:graphicImage name="/img/excel.png" width="24"/>
                        <p:dataExporter type="xls" target="tab" fileName="allOperations" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage name="/img/pdf.png" width="24"/>
                        <p:dataExporter type="pdf" target="tab" fileName="allOperations"/>
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage name="/img/csv.png" width="24"/>
                        <p:dataExporter type="csv" target="tab" fileName="allOperations" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage name="/img/xml.png" width="24"/>
                        <p:dataExporter type="xml" target="tab" fileName="allOperations" />
                    </h:commandLink>
                </div>
            </h:form>
        </f:view>

    </ui:define>
</ui:composition>
