<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../templates/template_default.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        Effectuer un transfert
    </ui:define>

    <ui:define name="content">
        <h:form class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <label for="compteDebite">Compte à débiter : </label>
                    <h:selectOneMenu
                        class="form-control"
                        id="compteDebite"
                        value = "#{operationsMBean.compteDebite}">
                        <f:selectItems
                            value="#{compteBancaireMBean.allComptes}" 
                            var="cb"
                            itemLabel="#{cb.clients[0].nom} #{cb.clients[0].prenom} / #{cb.nom} / #{cb.solde}€" 
                            itemValue="#{cb.compteBancaireId}" />
                    </h:selectOneMenu>
                </div>
                <div class="col">
                    <label for="montant">Montant :</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">€</span>
                        </div>
                        <h:inputText 
                            id="montant"
                            class="form-control"
                            value="#{operationsMBean.montant}"/>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <label for="compteCredite">Compte à créditer : </label>
                    <h:selectOneMenu
                        class="form-control"
                        id="compteCredite"
                        value = "#{operationsMBean.compteCredite}">
                        <f:selectItems
                            value="#{compteBancaireMBean.allComptes}" 
                            var="cb"
                            itemLabel="#{cb.clients[0].nom} #{cb.clients[0].prenom} / #{cb.nom} / #{cb.solde}€" 
                            itemValue="#{cb.compteBancaireId}" />
                    </h:selectOneMenu>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#transfert-compte-bancaire">
                Effectuer le transfert
            </button>
            <div class="modal fade" id="transfert-compte-bancaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Opération de transfert</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="h3">Voulez-vous vraiment effectuer le transfert ?</p>
                        </div>
                        <div class="modal-footer">
                            <button 
                                type="button" 
                                class="btn btn-secondary" 
                                data-dismiss="modal">
                                Non
                            </button>
                            <h:commandButton 
                                class="btn btn-primary" 
                                value="Oui" 
                                action="#{operationsMBean.actionStringTransferer('/faces/comptebancaire/liste')}" />
                        </div>
                    </div>
                </div>
            </div>
        </h:form>  
    </ui:define>
</ui:composition>


