<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:insert name="metadata"/>
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="style.css"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <title>EJB Compte Bancaire</title>
    </h:head>

    <h:body>
        <div class="main-wrapper">
            <header>
                <nav class="nav flex-column">
                    <h:link class="nav-link" outcome="/faces/index" value="Accueil"/>
                    <div class="dropright">
                        <a 
                            class="nav-link dropdown-toggle" 
                            data-toggle="dropdown" href="#" 
                            role="button" 
                            aria-haspopup="true" 
                            aria-expanded="false">Consulter</a>
                        <div class="dropdown-menu">
                            <h:link class="dropdown-item" outcome="/faces/comptebancaire/liste" value="Comptes Bancaires"/>
                            <div class="dropdown-divider"></div>
                            <h:link class="dropdown-item" outcome="/faces/personne/clients" value="Clients"/>
                            <h:link class="dropdown-item" outcome="/faces/personne/conseillers" value="Conseillers"/>
                            <h:link class="dropdown-item" outcome="/faces/personne/administrateurs" value="Administrateurs"/>
                        </div>
                    </div>
                    <div class="dropright">
                        <a 
                            class="nav-link dropdown-toggle" 
                            data-toggle="dropdown" href="#" 
                            role="button" 
                            aria-haspopup="true" 
                            aria-expanded="false">Gérer</a>
                        <div class="dropdown-menu">
                            <h:link class="dropdown-item" outcome="/faces/comptebancaire/creer" value="Créer un compte bancaire"/>
                            <div class="dropdown-divider"></div>
                            <h:link class="dropdown-item" outcome="/faces/personne/clientCreate" value="Créer un client"/>
                            <h:link class="dropdown-item" outcome="/faces/personne/conseillerCreate" value="Créer un conseiller"/>
                            <h:link class="dropdown-item" outcome="/faces/personne/administrateurCreate" value="Créer un administrateur"/>
                            <div class="dropdown-divider"></div>
                            <h:link class="dropdown-item" outcome="/faces/operation/retrait" value="Effectuer un retrait"/>
                            <h:link class="dropdown-item" outcome="/faces/operation/depot" value="Effectuer un dépôt"/>
                            <h:link class="dropdown-item" outcome="/faces/operation/transfert" value="Effectuer un virement"/>
                        </div>
                    </div>
                </nav>
            </header>
            <main>
                <div class="container">
                    <h2 class="text-capitalize"><ui:insert name="top">Top</ui:insert></h2>
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </main>
            <footer>
                <div class="container">MBDS - Projet Universitaire 2018/2019</div>
            </footer>
        </div>
        <h:outputScript library="js" name="jquery.min.js" />
        <h:outputScript library="js" name="popper.min.js" />
        <h:outputScript library="js" name="bootstrap.min.js" />
    </h:body>
</html>
