.main-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: minmax(calc(100vh - 30px), 1fr) 30px;
    grid-template-areas: "header content" 
                         "header footer";
}
.main-wrapper > header {
    grid-area: header;
    padding: 20px 0;
    background-color: #fafafa;
}

.main-wrapper > main {
    grid-area: content;
    padding: 20px;
}

.main-wrapper > footer {
    grid-area: footer;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-flow: column nowrap;
}

.menu-container > * {
    flex: 1 1 0;
}

.menu-container > header a {
    color: #707070;
    padding: 5px 20px
}

.main-wrapper > header a:hover {
    color: #2e2e2e;
    text-decoration: none;
    box-shadow: inset 4px 0 0 #4b4ba3;
    background: rgba(0,0,0,0.04);
}
