<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>
        <ui:composition template="./templates/template_default.xhtml">

            <ui:define name="top">
                Banque de la côte d'Azur
            </ui:define>

            <ui:define name="content">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Avant de commencer à utiliser cette application. Il faut <strong>commencer par peupler la base de données</strong> avec des comptes de test.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <p>Pour commencer, cliquez simplement sur bouton ci-dessous.</p>
                <h:form>  
                    <h:commandButton value="Peupler la BD" class="btn btn-primary" action="#{compteBancaireMBean.creerCompteBancaireTest}"/>  
                </h:form>
            </ui:define>

        </ui:composition>
    </body>
</html>
