<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewParam name="nb" value="#{bean.nombre}" />
    </f:metadata>
    <ui:composition template="./template_affichage.xhtml">
        <ui:param name="numEx" value="4"/>
        <ui:param name="query" value="faces-redirect=true&amp;includeViewParams=true"/>
    </ui:composition>
</html>

