<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./template_default.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="complementTitreEtH1">
        formulaire_
    </ui:define>

    <ui:define name="content">
        <h:form>  
            <h:outputLabel value="Entrez un nombre" for="nombre"/>  
            <h:inputText id="nombre" value="#{bean.nombre}"/>  
            <h:commandButton value="Valider" action="#{bean.actionString('affichage', numEx, query)}"/>  
        </h:form>  
    </ui:define>

</ui:composition>
