<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="default.css"/>    
        <h:outputStylesheet library="css" name="cssLayout.css"/>   
        <title>Application > <ui:insert name="complementTitreEtH1"/>#{numEx}</title>  
    </h:head>

    <h:body>
        <div id="top" class="top">
            <h1>Application > <ui:insert name="complementTitreEtH1"/>#{numEx}</h1>  
        </div>
        <div>
            <div id="left">
                <ul>  
                    <li><h:link outcome="index.xhtml" value="accueil"/></li>    
                    <li><h:link outcome="formulaire_1.xhtml" value="formulaire_1"/></li>    
                    <li><h:link outcome="formulaire_2.xhtml" value="formulaire_2"/></li>    
                    <li><h:link outcome="formulaire_3.xhtml" value="formulaire_3"/></li>    
                    <li><h:link outcome="formulaire_4.xhtml" value="formulaire_4"/></li>    
                </ul>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
    </h:body>

</html>
