<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./template_default.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="complementTitreEtH1">
        affichage_
    </ui:define>

    <ui:define name="content">
        Les nombres : <br/>  
        <ui:repeat value="#{bean.nombresSuivants}" var="n">  
            #{n + 1},  
        </ui:repeat>
        <h:form>  
            <h:commandLink value="Saisir un autre nombre" action="#{bean.actionString('formulaire', numEx, query)}"/>  
        </h:form>  
    </ui:define>

</ui:composition>
